body{
    margin: 0;
    min-height: 200%;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-size: 2400px;
    background-image: url("");}
   /** Menu - NavBar*/
ul,nav {
    top: 0;  z-index: 1000;
    margin: 0;    height: 50px;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.123);  -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(8px);}
    nav {
        display: none;}
li {
    display: inline-block;
    position: static;
    margin-bottom: 1px;} 
    li a:hover {
        color: rgb(56, 124, 145);}
a {
    display: block; 
    width: 130px;
    color: black;
    padding: 15px 15px 0px 15px;
    text-decoration: none;
    font-size: 14px; font-weight: 600;}
   /** Elementos comunes a  mas de 1 pagina html */
h1,h2,h3,h4,h5,p {
        color: black;
        margin: 0px;
        width: fit-content;}
h1{ 
    font-weight:700;
    font-size: 60px;}
h2{
        font-weight:700;
        font-size: 50px;} 
h3{
    font-weight: 500;
    font-size: 24px; 
    font-style: normal;}
h4{ 
    font-size: 42px; 
    font-weight: 400;}
h5 {
    font-size: 18px; 
    font-weight: 400;}
p{  
    text-align: justify; 
    font-size: 17px; 
    font-weight: 400;}
#p-white {
    color: #ffffff;}
button {   
    position: sticky;
    background: radial-gradient(1657.5% 33094.44% at 50% 50%, rgba(41, 251, 87, 0.2) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(683.75% 83958.63% at 104.63% -91.25%, rgba(36, 55, 105, 0.2) 0%, rgba(0, 0, 0, 0) 100%, rgba(61, 101, 203, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(298.75% 65362.36% at 6.35% -251.25%, #3D65CB 0%, rgba(255, 255, 255, 0) 100%) ; 
    border-radius: 8px;
    border: 0;}
    #abutton {
    border-radius: 8px;
    border: 1px solid; 
    background-color: transparent; 
    color: rgb(56, 124, 145);
    border-color: rgb(56, 124, 145);
    font-size: 18px; 
    font-weight: 500;
    padding-top: 10px;
    margin: 10px 0 10px 0;
    width: fit-content;
    height: 30px;
    text-align: center;
    transition: 1s;}  
        #abutton:hover {
        border-radius: 8px;
        border: 1px solid;
        border-color: rgb(56, 124, 145);
        background: radial-gradient(1657.5% 33094.44% at 50% 50%, rgba(41, 251, 87, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(683.75% 83958.63% at 104.63% -91.25%, rgba(36, 55, 105, 0.2) 0%, rgba(0, 0, 0, 0) 100%, rgba(61, 101, 203, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(298.75% 65362.36% at 6.35% -251.25%, #3D65CB 0%, rgba(255, 255, 255, 0) 100%); 
        color: #ffffff;
        font-weight: 500;}
#section-margin {
    position: relative;
    text-align: left;
    margin: 110px 20% 200px 20%;}
#globodetexto,#globodetexto-2,#globodetexto-3  {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 8% 30px 8%;
    border-left: 20;
    border-radius: 20px;}
    #globodetexto {
        color: rgb(31, 30, 30);
        background: radial-gradient(325.11% 381.11% at 45.51% 55.88%, rgba(255, 255, 255, 0.7) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(285.84% 1067.53% at -35.74% -46.4%, rgba(64, 133, 170, 0.15) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;}    
    #globodetexto-2 {
        color: rgb(255, 255, 255);
        background: radial-gradient(1657.5% 33094.44% at 50% 50%, rgba(41, 251, 87, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(683.75% 83958.63% at 104.63% -91.25%, rgba(36, 55, 105, 0.2) 0%, rgba(0, 0, 0, 0) 100%, rgba(61, 101, 203, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(298.75% 65362.36% at 6.35% -251.25%, #3D65CB 0%, rgba(255, 255, 255, 0) 100%);}
    #globodetexto-3 {
        color: rgb(255, 255, 255);
        background: radial-gradient(1657.5% 33094.44% at 50% 50%, rgba(42, 183, 73, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(683.75% 83958.63% at 104.63% -91.25%, rgba(23, 34, 65, 0.2) 0%, rgba(0, 0, 0, 0) 100%, rgba(41, 65, 126, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(298.75% 65362.36% at 6.35% -251.25%, #3D65CB 0%, rgba(255, 255, 255, 0) 100%);}
#titulo {
    margin-bottom: 50px;
    color:black;}
#icono {
        width:50px;
        position: relative;
        margin-bottom: 40px;}   
#resaltado {
    color: rgb(56, 124, 145);
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    margin: 2px 0 15px 0;
    width: fit-content;
    padding: 0; } 
footer {
    background: black; 
    overflow: hidden;
    text-align: center;
    position: static;
    bottom: 0;
    height: 90px;}
    #a-redes {
    color: white;
    margin-top: 15%;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 14px;}
    /** Index */
#imagenindex {
            position: absolute;
            width:1010px;
            left: 0px;
            margin: 0;
            padding: 0; 
            bottom: 0;}
#indexblock-2 {
            align-items: center;
            height: 10px;
            margin-top: 200px;
            margin-left: 60%;
            width:fit-content;}
    #p-index{
            margin-top: 40px;
            text-align: center;
            color: #a3a5a9;
            width: 340px;}
    #button-index{
            margin-top: 40px;
            margin-left: 90px;}
    #download {
    padding: 0;
    margin-left: 70px;
    text-align: center;
    color: #808082;
    font-size: 16px;
    width: 200px;}
    /** Sobre mi */
#sobremi-titulo {
    margin-left: 45%;
    margin-bottom: 150px;}
#imagen-sobremi {
    position: absolute;
    margin-left: 25%;
    margin-top: 50px;
    border-radius: 500px;
    width: 250px;}
    /** Experiencia */
#primertrabajo {
    margin-top: 10px;
    border-bottom: solid; 
    border-color: #e1e1e1;
    border-width: 0.5px;
    padding-bottom: 20px;}
#segundotrabajo {
        margin-top: 40px;
        border-width: 0.5px;}
/* Ventanas modales */
#abrir, #abrir-2{
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    font-size:30px;
    display: inline-block;
    justify-content: center;
    padding: 0 0 0 0  ;    width: 34px; height: 34px;
    border-radius: 300px;
    color:rgb(255, 255, 255);
    background-color: rgb(50, 84, 95);}
#abrir:hover, #abrir-2:hover{
    background-color: rgb(47, 49, 49) ; color: white;
    transition: 0.7s; }
.flex{
	height:100%;
	display: flex;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);}
.textos{
	text-align: right;}
#textos-div {
    margin: 0;    padding: 0;}
#ventana-modal {
    position: fixed; width: 100%;}
.modal{
	display: none;
	position: fixed;
	z-index:2000;
	overflow: auto;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.452);}
.contenido-modal{
	position: relative;
	background-color: #fefefe;
    padding: 25px 25px 30px 25px;
	margin: auto;
	width: 35%;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .4);
	animation-name: modal;
	animation-duration: .7s;
    border-radius: 15px;}
        @keyframes modal{
            from{top:-330px; opacity:0;}
            to{top:0; opacity:1;}}
.modal-header {
	padding: 1px 16px;
	color: black;
    margin-bottom: 20px;}
    #titulo-referencia {
        margin-bottom: 25px;
        font-weight: 700;}
.modal-body{
	padding: 10px 20px 20px 20px;
    text-align: center;}
.close{
    position: absolute;
    right: 15px;
	color: #d6d3d3;
    margin-bottom: 10px;
	font-size:30px;}
        .close:hover{
	color: rgb(233, 78, 78);
	text-decoration: none;
	cursor: pointer;}
    /** Educacion e Idiomas */
#primerestudio {
        margin-top: 10px;
        border-bottom: solid; 
        border-color: #e7e6e6;
        border-width: 0.5px;
        padding-bottom: 40px;}
#segundoestudio {
        margin-top: 30px;
        border-bottom: solid; 
        border-color: #e7e6e6;
        border-width: 0.5px;
        padding-bottom: 20px;}
#tercerestudio {
        margin-top: 30px;
        padding-bottom: 20px;
        border-width: 0.5px;}
#langsection {    
    margin-top: 100px;
    margin-bottom: 30px;}
#Lic {
    width:100%;
    margin-top: 10px;  
    align-items: center;
    border-radius: 10px;}
        /** Contacto */
input {
    font-family: 'Montserrat', sans-serif;
    width: 90%; 
    height: 30px;
    top: 342px;
    padding-left: 15px;  margin: 10px;
    background:#ffffff;
    border: 0px; 
    border-radius: 60px;}
textarea {
        font-family: 'Montserrat', sans-serif;
        width: 87%; 
        height: 100px;
        top: 342px;
        padding: 15px;  margin: 10px;
        background:#ffffff;
        border: 0px; 
        border-radius: 20px;}
#button-enviar {
    margin-left: 45%;
    margin-right: 45%;
    padding: 2px;
    background: radial-gradient(1657.5% 33094.44% at 50% 50%, rgba(41, 251, 87, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(683.75% 83958.63% at 104.63% -91.25%, rgba(36, 55, 105, 0.2) 0%, rgba(0, 0, 0, 0) 100%, rgba(61, 101, 203, 0.2) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(298.75% 65362.36% at 6.35% -251.25%, #3D65CB 0%, rgba(255, 255, 255, 0) 100%); 
    margin-top: 5%;}
#abutton-enviar{ 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;     
    font-size: 14px; 
    font-weight: 500;
    padding: 10px; 
    border-radius: 30px;
    width: fit-content;}
#check { 
    margin-top: 9px ;
    margin-left: 15px ;
    float: left;
    font-size: 12px;
    width: fit-content;}
#checkbox {
    float: left;
    background-color: #292929;
    width: 15px;
    border: 0 solid;
    margin: 0 0  0 15px;}
#button-siguiente {
    position: absolute;
    margin-top: 4%;
    right: 0;}
#option-section {
    display: flex;
    flex-direction: row;
    justify-content: left;}
#globodecontacto  {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 5% 20px 5%;
    width: 45%;
    height: 200px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(300deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65a79 76%,#ec3d43);}
#QR {
    width:230px;
    margin-top: 40px;  
    align-items: center;}
#QR-section {
    margin-top: 70px;}
    /*Responsive*/
    @media screen and (max-width: 1100px) {
        #imagenindex {width: 800px; left:-100px;}
        #indexblock-2 {margin-left: 50%; margin-top: 100px}
        #section-margin {margin-left: 10%; margin-right: 10%;}
        #imagen-sobremi {width: 0px}
        #sobremi-titulo {margin-left: 0;margin-bottom: 40px;}}
    @media screen and (max-width: 840px) {
        ul {display: none;}
        a {width: 45px;}
        .contenido-modal{width: 70%}
        .textos{padding: 150px;}
        #option-section,nav{ display:block;}
        #globodecontacto {width: 90%;height: 200px;}
        #redes{ height: 130px;}
        #imagenindex {width: 600px;left:0;bottom: 0;}
        #indexblock-2 {display: block center; margin-left: 25%; margin-top: 80px}}
    @media screen and (max-width:580px){
        h1{font-size: 50px}
        .textos{padding:50px}
        #imagenindex {width: 350px;left:0;}
        #indexblock-2 {margin-left: 10%; margin-top: 50px; margin-bottom: 5px;}
        #p-index{margin-top: 20px; font-size: 14px; margin-left: -30px; }
        #download {font-size: 14px;}
        #button-index {margin-left: 60px;}}