body{
    margin: 0;
    min-height: 200%;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-color: #f6f6f6;
    }
   /** Menu - NavBar*/
ul,nav {
    top: 0;  z-index: 1000;
    margin: 0;    height: 45px;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.386);  -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(8px);}
    nav {
        display: none;}
li {
    display: inline-block;
    position: static;
    margin-bottom: 1px;
    margin-right: 30px;} 
    li a:hover {
        color: #8335fd;}
a {
    display: block; 
    width: 110px;
    color: black;
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    font-size: 16px; font-weight: 600;}
   /** Elementos comunes a  mas de 1 pagina html */
h1,h2,h3,h4,h5,h6,p {
    margin: 0px;
    width: fit-content;}
h1{ 
    font-weight:700;
    font-size: 65px;}
h2{
    font-weight:700;
    font-size: 50px;} 
h3{
    font-weight: 600;
    font-size: 24px; 
    font-style: normal;}
h4{ 
    font-size: 42px; 
    font-weight: 600;}
h5 {
    font-size: 20px; 
    font-weight: 700;}
h6 {
    font-size: 20px; 
    color: #8335FD;
    font-weight: 700;}
p{  
    margin-top: 18px;
    margin-bottom: 20px;
    text-align: justify; 
    font-size: 20px; 
    font-weight: 400;}
#white {
    color: #ffffff;}
#abutton, #abutton-down{
    border-radius: 100px;
    border: 1px solid;  
    border-color: #8335fd;
    color: #8335FD;
    font-size: 18px; 
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 8px;
    margin: 10px 15px 10px 15px;
    text-align: center;
    width: 170px;
    height: 24px;
    transition: 0.5s;}  
    #abutton-down {
        background: radial-gradient(102.01% 2016.77% at 0% 100%, #8335FD 0%, #9252F4 100%);
        color: #fff;
        position: absolute;
        left: 30px;
        top: -3px;
        border-radius: 100px;
        width: 55px;
        padding: 1px 10px 4px 10px;}
            #abutton:hover, #abutton-down:hover {
            background: radial-gradient(102.01% 2016.77% at 0% 100%, #8335FD 0%, #9252F4 100%);
            border-radius: 100px;
            margin-top: 5px;
            border: 1px solid;
            border-color:#8335fd;
            color: #ffffff;
            font-weight: 500;
            transition: 0.5s;}

#section-margin {
    position: relative;
    text-align: left;
    margin: 110px 20% 200px 20%;}
#globodetexto,#globodetexto-2,#globodetexto-3  {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 8% 30px 8%;
    border-left: 20;
    border-radius: 20px;}
    #globodetexto {
        color: rgb(31, 30, 30);
        background-color: #fff }    
    #globodetexto-2 {
        color: rgb(255, 255, 255);
        background: radial-gradient(102.01% 2016.77% at 0% 100%, #8335FD 0%, #9252F4 100%);}
    #globodetexto-3 {
        color: rgb(255, 255, 255);
        background: radial-gradient(102.01% 2016.77% at 0% 100%, #8335FD 0%, #9252F4 100%);}
#resaltado {
    width: 250px;
    margin-top: -80px;
    position: absolute;
}
#resaltado-2 {
    width: 70px;
    margin-top: -40px;
    margin-left: 350px;
    rotate: 40deg;
    position: absolute;
}
#resaltado-3 {
    width: 50px;
    margin-right: 300px;
    margin-top: 110px;
    position: absolute;
}
#resaltado-4 {
    width: 80px;
    margin-left: 300px;
    margin-top: 140px;
    rotate: 200deg;
    position: absolute;
}
footer {
    background: #000000; 
    color: white;
    overflow: hidden;
    text-align: center;
    position: static;
    bottom: 0;
    height: 90px;}
    #a-redes {
        color: white;
        margin-top: 15%;
        width: fit-content;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 600;
        font-size: 14px;}
#button-siguiente {
    position: absolute;
    margin-top: 4%;
    right: 0;}
#button-inicio {
    position: absolute;
    margin-top: 4%;
    left: 0; 
}
#section-icono {
    width: 50px; height: 37px;
    background: radial-gradient(102.01% 2016.77% at 0% 100%, #762AED 0%, #9252F4 65.63%); 
    border-radius: 1000px;
    color: #fff;
    text-align: center;
    padding-top: 12px;
    position: relative;
    margin-bottom: 30px;
}
    /** Index */
#imagenindex {
    position: absolute;
    width:1010px;
    left: 0px;
    margin: 0;
    padding: 0; 
    bottom: 0;}
#indexblock-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10px;
    margin-top: 200px;
    margin-left: 60%;
    width:fit-content;}
#buttonindex {
    margin-top: 40px;}
    /** Sobre mi */
#conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between}
#sobremi-titulo {
    margin-left: 45%;
    margin-bottom: 150px;}
#imagen-sobremi {
    position: absolute;
    margin-left: 23%;
    margin-top: 50px;
    border-radius: 500px;
    background-color: rgb(255, 255, 255);
    width: 250px;}
/** Experiencia */
#primertrabajo {
    margin-top: 10px;
    border-bottom: solid; 
    border-color: #e1e1e1;
    border-width: 0.5px;
    padding-bottom: 20px;}
#segundotrabajo {
        margin-top: 40px;
        border-width: 0.5px;}
/* Ventanas modales */
#abrir, #abrir-2{
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size:30px;
    display: inline-block;
    justify-content: center;
    padding: 5px 0 0 0  ;    width: 42px; height: 38px;
    border-radius: 300px;
    color:rgb(255, 255, 255);
    background-color:#0f0742;}
#abrir:hover, #abrir-2:hover{
    background-color: rgb(0, 0, 0) ; color: white; }
.flex{
	height:100%;
	display: flex;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);}
.textos{
	text-align: right;}
#textos-div {
    margin: 0;    padding: 0;}
#ventana-modal {
    position: fixed; width: 100%;}
.modal{
	display: none;
	position: fixed;
	z-index:2000;
	overflow: auto;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.452);}
.contenido-modal{
	position: relative;
	background-color: #fefefe;
    padding: 25px 25px 30px 25px;
	margin: auto;
	width: 35%;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .4);
	animation-name: modal;
	animation-duration: .7s;
    border-radius: 15px;}
        @keyframes modal{
            from{top:-330px; opacity:0;}
            to{top:0; opacity:1;}}
.modal-header {
	padding: 1px 16px;
	color: black;
    margin-bottom: 20px;}
    #titulo-referencia {
        margin-bottom: 25px;
        font-weight: 700;}
.modal-body{
	padding: 10px 20px 20px 20px;
    text-align: center;}
.close{
    position: absolute;
    right: 15px;
	color: #d6d3d3;
    margin-bottom: 10px;
	font-size:30px;}
        .close:hover{
	color: rgb(233, 78, 78);
	text-decoration: none;
	cursor: pointer;}
    /** Educacion e Idiomas */
#primerestudio {
        margin-top: 20px;
        border-bottom: solid; 
        border-color: #e7e6e6;
        border-width: 0.5px;
        padding-bottom: 20px;}
#segundoestudio {
        margin-top: 40px;
        border-bottom: solid; 
        border-color: #e7e6e6;
        border-width: 0.5px;
        padding-bottom: 30px;}
#tercerestudio {
        margin-top: 40px;
        padding-bottom: 20px;
        border-width: 0.5px;}
#langsection {    
    margin-top: 100px;
    margin-bottom: 30px;}
#Lic {
    width:100%;
    margin-top: 10px;  
    align-items: center;
    border-radius: 10px;}
        /** Contacto */

#option-section {
    display: flex;
    flex-direction: row;
    justify-content: center;}
#QR {
    width:200px;
    margin-top: 40px;  
    align-items: center;}
#QR-section {
    margin-top: 20px;}
#Addme {
    width: 280px;
    height: fit-content;
    display: block;
    margin-top: 120px;  
    align-items: center;}

    /*Responsive*/
    @media screen and (max-width: 1100px) {
        #imagenindex {width: 800px; left:-100px;}
        #indexblock-2 {margin-left: 50%; margin-top: 100px}
        #section-margin {margin-left: 10%; margin-right: 10%;}
        #imagen-sobremi {width: 0px}
        #sobremi-titulo {margin-left: 0;margin-bottom: 40px;}}
    @media screen and (max-width: 840px) {
        ul {display: none;}
        a {width: 45px;}
        .contenido-modal{width: 70%}
        .textos{padding: 150px;}
        #Addme {display: none;}
        #conteiner { flex-direction: column;}
        #option-section,nav{ display:block;}
        #globodecontacto {width: 90%;height: 200px;}
        #redes{ height: 130px;}
        #imagenindex {width: 500px;left:0;bottom: 0;}
        #indexblock-2 { margin-left: 22%; margin-top: 80px}}
    @media screen and (max-width:580px){
        h1{font-size: 50px}
        .textos{padding:50px}
        #imagenindex {width: 350px;left:0;}
        #indexblock-2 { margin-left: 17%; margin-top: 80px}}