body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: gradient ;}
/** Menu - NavBar*/
ul {
    margin: 0;
    padding-left: 0;
    top: 0;
    z-index: 1000;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    position: sticky;
    background-color: #3d65cb;
    height: 50px;}
li {
    display: inline-block;} 
a {
    display: block; 
    width: 130px;
    text-align: center;
    color: rgb(236, 236, 236);
    padding: 6px 15px 6px 15px;
    text-decoration: none;
    font-size: 14px; 
    font-weight: 300;
    padding-top: 15px;}
nav {
    top: 0;
    z-index: 1000;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    position: sticky;
    background-color: #3d65cb;
    height: 50px;
    display: none;}
li a:hover {
    color: rgb(255, 255, 255); /** Color al momento de hacer click*/}
    @media (max-width: 840px) {
        ul {display: none;}
        nav {display: block;}
        a {width: 30px;}}

   /** Elementos */

h1{ 
    font-weight:700;
    font-size: 60px; 
    color: #3d65cb; 
    margin: 0px;}
h2{
        font-weight:700;
        font-size: 50px; 
        color: #3d65cb; 
        margin: 0px;} 
h3{
    font-weight: 400;
    font-size: 24px; 
    font-style: normal;
    color: rgb(29, 29, 32); 
    margin: 2px;;}
h4{ 
    font-size: 18px; 
    font-weight: 400;
    width:fit-content;}
p{  
    text-align: justify; 
    font-size: 17px; 
    font-weight: 300;}
button {   
    position: sticky;
    border: 1px solid; 
    background-color: transparent; 
    border-color: #3d65cb;
    color: #ffffff;
    border-radius: 8px;
    display: block;}
#abutton {
    color: #3d65cb;
    font-family: 'Montserrat', sans-serif;     
    font-size: 18px; 
    font-weight: 500;
    padding: 10px; 
    width: fit-content;}  
    
    /** Index */

#imagenindex {
    position: absolute;
    width:1010px;
    left: 0px;
    margin: 0;
    padding: 0; 
    bottom: 0;}
#indexblock {
    height: 10px;
    margin-top: 200px;
    margin-left: 60%;
    width:fit-content;}
#p-index{
    margin-top: 40px;
    text-align: center;
    color: #a3a5a9;
    width: 340px;}
#button-index{
    margin-top: 50px;
    margin-left: 90px;}
    @media (max-width: 1100px) {
        #imagenindex {width: 725px; left:-100px;}
        #indexblock {margin-left: 50%; margin-top: 100px}}
    @media (max-width: 760px) {
            #imagenindex {width: 600px;left:0;bottom: 0;}
            #indexblock {display: block center; margin-left: 25%; margin-top: 100px}}
    @media (max-width: 600px) {
                #imagenindex {width: 400px;left:0;}
                #indexblock {margin-left: 10%; margin-top: 50px}
                #p-index {display: none;}
                h1{font-size: 50px}
                #button-index {margin-left: 60px;}}
        /** Sobre mi */

#section-margin {
    text-align: left;
    margin-top: 110px;
    margin-left: 20%;
    margin-right: 20%;}
#sobremi-titulo {
    margin-left: 45%;
    margin-bottom: 150px;}
#imagen-sobremi {
    position: absolute;
    margin-left: 25%;
    margin-top: 50px;
    border-radius: 500px;
    width: 250px;}
#globodetexto {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px 5% 25px 5%;
    border-left: 20;
    border-radius: 20px;
    color: rgb(31, 30, 30);
    background-color: rgb(239, 239, 239);}
#globodetexto-2 {
    margin-top: 30px;
    padding: 20px 10% 20px 10%;
    border-left: 20;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #3d65cb;}
#globodetexto-3 {
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 20px 10% 20px 10%;
    border-left: 20;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #264082;}
#button-siguiente {
    left: 100%;
    padding: 5px;
    width: auto;
    margin-bottom: 10%;}
    @media (max-width: 1200px) {
        #section-margin {margin-left: 10%; margin-right: 10%;}
        #imagen-sobremi {width: 0px}
        #sobremi-titulo {margin-left: 0;}
        #globodetexto {margin-top: 80px;}}

        /** Experiencia */

#titulo {
    margin-bottom: 50px;
    color:#3d65cb;}
#primertrabajo {
    margin-top: 10px;
    border-bottom: solid; 
    border-color: #e1e1e1;
    border-width: 0.5px;
    padding-bottom: 20px;}
#segundotrabajo {
        margin-top: 40px;
        border-width: 0.5px;}
#derecha {
    color: #3d65cb;
    text-align: right;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 40px;}

        /** Edudacion */

#primerestudio {
        margin-top: 10px;
        border-bottom: solid; 
        border-color: #c8c8c9;
        border-width: 0.5px;
        padding-bottom: 20px;}
#segundoestudio {
        margin-top: 30px;
        border-bottom: solid; 
        border-color: #c8c8c9;
        border-width: 0.5px;
        padding-bottom: 20px;}
#tercerestudio {
        margin-top: 50px;
        border-width: 0.5px;}

        /** Idiomas */

#langsection {    
    margin-top: 60px;
    margin-bottom: 30px;}
.row::after {
        content: "";
        clear: both;
        display: table;}
[class*="col-"] {
        float: left;
        padding: 15px;
        color: hsl(0, 0%, 100%);
        width: 50%; 
        padding: 30px;
        border-radius: 20px;
        border: 5px solid white;}
        .col-1 {background-color:#264082}
        .col-2 {background-color:#3d65cb}
        .col-3 {background-color:#7f9be4}
        .col-4 {background-color:#F5F5F5; color: #292929;}

/** Contacto */
input {
    font-family: 'Montserrat', sans-serif;
    width: 90%; 
    height: 30px;
    top: 342px;
    padding-left: 15px;  margin: 10px;
    background:#ffffff;
    border: 0px; 
    border-radius: 60px;}
#msj { 
    padding-bottom: 100px; 
    border-radius: 15px;
    padding-top: 15px;}
#redes {
    text-align: center;
    margin-top: 100px;
    padding-top: 30px;
    height: 100px;}
#a-redes {
    color: #3d65cb;
    font-weight: 600;
    font-size: 14px;}
#button-enviar {
    margin-left: 15px;
    padding: 4px;
    background-color:#3d65cb;
    width: auto;
    margin-bottom: 1%;
    margin-top: 5%;}
#abutton-enviar{ 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;     
    font-size: 14px; 
    font-weight: 500;
    padding: 10px; 
    width: fit-content;}