
body{
    margin: 0;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    
    background-attachment: fixed;

    background-image: url("https://lh3.googleusercontent.com/pw/AL9nZEWiBgjlFo-gXEzZkwIs8a6QYxuXCjc5AvnJoEyRBStQ4QdNT_WKyva3QGASf1dWWn1iLhSPTAmk06aXAz-AQiL9vurljje_9lUo0uxJLVmbNI18R0XI7RFZoT51dAdihR21m79tfMGtoC36TeWsmwjg=w1491-h969-no?authuser=0") }
    /** Menu - NavBar*/
ul {
    margin: 0;
    padding-left: 0;
    top: 0;
    z-index: 1000;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    position: sticky;
    background-color: #3d65cb;
    height: 50px;}
li {
    display: inline-block;} 
a {
    display: block; 
    width: 130px;
    text-align: center;
    color: rgb(236, 236, 236);
    padding: 6px 15px 6px 15px;
    text-decoration: none;
    font-size: 14px; 
    font-weight: 300;
    padding-top: 15px;}
nav {
    top: 0;
    z-index: 1000;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    position: sticky;
    background-color: #3d65cb;
    height: 50px;
    display: none;}
li a:hover {
    color: rgb(255, 255, 255); /** Color al momento de hacer click*/}
    @media (max-width: 840px) {
        ul {display: none;}
        nav {display: block;}
        a {width: 30px;}}
   /** Elementos */
h1{ 
    font-weight:700;
    font-size: 60px; 
    color: #3d65cb; 
    margin: 0px;}
h2{
        font-weight:700;
        font-size: 50px; 
        color: #3d65cb; 
        margin: 0px;} 
h3{
    font-weight: 400;
    font-size: 24px; 
    font-style: normal;
    color: rgb(29, 29, 32); 
    margin: 2px;;}
h4{ 
    font-size: 18px; 
    font-weight: 400;
    width:fit-content;}
p{  
    text-align: justify; 
    font-size: 17px; 
    font-weight: 300;
    margin: 0;}
button {   
    position: sticky;
    border: 1px solid; 
    background-color: transparent; 
    border-color: #3d65cb;
    color: #ffffff;
    border-radius: 8px;}
    #abutton {
    color: #3d65cb;
    font-family: 'Montserrat', sans-serif;     
    font-size: 18px; 
    font-weight: 500;
    padding-top: 10px;
    margin: 0;
    width: fit-content;
    height: 25px;
    text-align: center;}  
        button:hover {
            border: 1px solid;
            border-color:#3d65cb;
            background-color: #3d65cb; border-radius: 8px;}
        #abutton:hover {
        color: #ffffff;
        font-weight: 400;
        border-color:#3d65cb;
        background-color: #3d65cb; border-radius: 8px;}
        /** Index */
#imagenindex {
    position: absolute;
    width:1010px;
    left: 0px;
    margin: 0;
    padding: 0; 
    bottom: 0;}
#indexblock {
    height: 10px;
    margin-top: 200px;
    margin-left: 60%;
    width:fit-content;}
#p-index{
    margin-top: 40px;
    text-align: center;
    color: #a3a5a9;
    width: 340px;}
#button-index{
    margin-top: 40px;
    margin-left: 90px;}
#download {
    padding: 0;
    margin-left: 70px;
    text-align: center;
    color: #808082;
    font-size: 16px;
    width: 200px;}
    @media (max-width: 1100px) {
        #imagenindex {width: 800px; left:-100px;}
        #indexblock {margin-left: 50%; margin-top: 100px}}
    @media (max-width: 760px) {
            #imagenindex {width: 600px;left:0;bottom: 0;}
            #indexblock {display: block center; margin-left: 25%; margin-top: 80px}}
    @media (max-width: 600px) {
                #imagenindex {width: 350px;left:0;}
                #indexblock {margin-left: 10%; margin-top: 50px; margin-bottom: 5px;}
                #p-index{margin-top: 20px; font-size: 14px; margin-left: -30px; }
                #download { font-size: 14px;}
                h1{font-size: 50px}
                #button-index {margin-left: 60px;}}
        /** Sobre mi */
#section-margin {
    text-align: left;
    margin-top: 110px;
    margin-left: 20%;
    margin-right: 20%;}
#sobremi-titulo {
    margin-left: 45%;
    margin-bottom: 150px;}
#imagen-sobremi {
    position: absolute;
    margin-left: 25%;
    margin-top: 50px;
    border-radius: 500px;
    width: 250px;}
#globodetexto,#globodetexto-2,#globodetexto-3  {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 7% 20px 7%;
    border-left: 20;
    border-radius: 20px;}
#globodetexto {
    color: rgb(31, 30, 30);
    background-color:#f5f4f4;}
#globodetexto-2 {
    color: rgb(255, 255, 255);
    background-color: #3d65cb;}
#globodetexto-3 {
    color: rgb(255, 255, 255);
    background-color: #264082;}
#button-siguiente {
    left: 100%;
    width: auto;
    margin-top: 10%;
    margin-bottom: 10%;}
    @media (max-width: 1200px) {
        #section-margin {margin-left: 10%; margin-right: 10%;}
        #imagen-sobremi {width: 0px}
        #sobremi-titulo {margin-left: 0;margin-bottom: 40px;}}
        /** Experiencia */
#titulo {
    margin-bottom: 50px;
    color:#3d65cb;}
#primertrabajo {
    margin-top: 10px;
    border-bottom: solid; 
    border-color: #e1e1e1;
    border-width: 0.5px;
    padding-bottom: 20px;}
#segundotrabajo {
        margin-top: 40px;
        border-width: 0.5px;}
#derecha {
    color: #3d65cb;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 15px;}
#icono {
    width:45px;
    position: relative;
    margin-bottom: 30px;
}     
    /** Edudacion */
#primerestudio {
        margin-top: 10px;
        border-bottom: solid; 
        border-color: #e7e6e6;
        border-width: 0.5px;
        padding-bottom: 40px;}
#segundoestudio {
        margin-top: 30px;
        border-bottom: solid; 
        border-color: #e7e6e6;
        border-width: 0.5px;
        padding-bottom: 20px;}
#tercerestudio {
        margin-top: 30px;
        border-width: 0.5px;}
        /** Idiomas */
#langsection {    
    margin-top: 60px;
    margin-bottom: 30px;}

        /** Contacto */

input {
    font-family: 'Montserrat', sans-serif;
    width: 90%; 
    height: 30px;
    top: 342px;
    padding-left: 15px;  margin: 10px;
    background:#ffffff;
    border: 0px; 
    border-radius: 60px;}
textarea {
        font-family: 'Montserrat', sans-serif;
        width: 87%; 
        height: 100px;
        top: 342px;
        padding: 15px;  margin: 10px;
        background:#ffffff;
        border: 0px; 
        border-radius: 20px;}
#redes {
    display: block;
    text-align: center;
    margin-top: 50px;
    height: 70px;}
#a-redes {
    color: #292929;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 14px;}
#button-enviar {
    margin-left: 15px;
    padding: 4px;
    background-color:#3d65cb;
    width: auto;
    margin-bottom: 1%;
    margin-top: 5%;}
#abutton-enviar{ 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;     
    font-size: 14px; 
    font-weight: 500;
    padding: 10px; 
    width: fit-content;}
@media (max-width: 800px) {
    #redes{ margin-left: -10%;}}