html {
    scroll-behavior: smooth;}
body{
    margin: 0;
    min-height: 200%;
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
   }
   /** Menu - NavBar*/
   ul,nav {
    top: 10px;  z-index: 1000;
    border-radius: 50px;
    margin: 10px 10% 0 10%;    height: 50px;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    position: sticky;
    background-color: #e1e1e14d;  -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(8px);}
    nav {
        display: none;}
li {
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 40px;} 
    li:focus-visible {
        background-color: #0f0742;
        border-radius: 20px;}
a {
    display: block;
    width: 110px;
    color: rgb(0, 0, 0);
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    font-size: 15px; font-weight: 600;}
        a:hover {
            color: #8335FD;
        }
   /** Elementos comunes a  mas de 1 pagina html */
h1,h2,h3,h5,h6,p {
    margin: 0px;
    width: fit-content;}
h1{ 
    font-weight:700;font-size: 65px;}
h2{
    font-weight:700;font-size: 50px;} 
h3{
    font-weight: 600; font-size: 24px; }
h5 {
    font-size: 20px; font-weight: 700;}
h6 {
    font-size: 20px; font-weight: 700;
    color: #8335FD;}
p{  
    font-size: 20px;font-weight: 400;
    margin: 20px 0 20px 0;
    text-align: justify;}
#abutton, #abutton-down,#abutton-net{
    border-radius: 100px;
    border: 1px solid #8335fd;  
    color: #8335FD;
    font-size: 18px; font-weight: 500;
    padding: 12px 20px 8px 20px;
    margin: 40px 10px 40px 10px;
    text-align: center;
    width: fit-content;
    height: 24px;}  
#abutton-net {
    border-color: #000000;  
    color: #fff;
    background-color: #000000;
    padding: 10px 10px 8px 10px;}
#abutton-down {
    border: 1px solid transparent;  
    background: radial-gradient(102.01% 2016.77% at 0% 100%, #0f0742 0%, #0f0742 100%);
    color: #fff;
    position: absolute;
    left: 4%; top: 0px;
    margin-top: 10px;
    border-radius: 100px;
    padding: 1px 25px 4px 25px;}
#button-inicio {
    position: absolute;
    margin-top: 4%;right: 0;}
        #abutton:hover, #abutton-down:hover {
            background: radial-gradient(102.01% 2016.77% at 0% 100%, #8335FD 0%, #9252F4 100%);
            border: 1px solid #8335fd;
            color: #ffffff;
            transition: 0.5s;}
#section-margin, #section-margin-exp, #section-margin-me,#section-margin-edu {
    position: relative;
    text-align: left;
    margin: 40px 20% 200px 20%;
    scroll-margin-top: 155px;}
    #section-margin-me {margin-top: 16%;}
#globodetexto,#globodetexto-2,#globodetexto-3 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 8% 30px 8%;
    border-left: 20;
    border-radius: 20px;}
    #globodetexto {
        color: rgb(31, 30, 30);
        background-color: #fff }    
        #globodetexto-2 {
            padding: 15px 5% 15px 5%;
            border-radius: 15px;
            margin-left: 30px;
            width: 300px;
            height: fit-content;
            color: rgb(255, 255, 255);
            background: radial-gradient(102.01% 2016.77% at 0% 100%, #8335FD 0%, #9252F4 100%);}
            #globodetexto-3 {
                color: rgb(255, 255, 255);
                background: radial-gradient(102.01% 2016.77% at 0% 100%, #100c2d 0%, #1c125b 100%);}
footer {
    background: #000000; 
    overflow: hidden;
    text-align: center;
    position: static;
    bottom: 0;
    height: 90px;}
    #a-redes {
        color: white;
        width: fit-content;
        margin: 15% 10px 0 0;
        font-weight: 600;
        font-size: 14px;}
#section-icono {
    width: 50px; height: 37px;
    background: radial-gradient(102.01% 2016.77% at 0% 100%, #762AED 0%, #9252F4 65.63%); 
    border-radius: 500px;
    color: #fff;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 30px;}
    /** Index */
#mainblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-position: relative;
    background-size: 1700px;
    background-image: url("https://lh3.googleusercontent.com/pw/AL9nZEW2wVOSSyu2bTVwzDxSEJfPLh9VZlQDft693I0SW1Zg2kTqMBmt1F-dIKdLHoZvKThTU2aZCdc38Z9XSk7hT_7DwOdIuD0-kIBeJLXoxW6TTOfkbs-Wp6Pw1c2Hw47egSTBeV-w7Vp_K5uy6qUEuWRU=w1059-h662-no?authuser=0");
    scroll-margin-top: 100px;    border-bottom: solid; 
    border-color: #e8e8e8;
    border-width: 1px;}
#imagenindex {
    width:52%;
    margin-bottom: 0%;
    bottom: 0;}
#indexblock-2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 10px;
    margin-top: 200px;
    margin-right: 15%;}
#draws,#draws-2 {
    position: absolute;
    width: 460px;
    margin-left: -235px;
    margin-top: -60px;}
    #draws-2 {
        margin-top: -95px;}
.socialnet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
    /** Sobre mi */
#sobremi-titulo {
    margin-left: 47%;
    margin-bottom: 120px;}
#imagen-sobremi {
    position: absolute;
    margin-left: 7%;
    margin-top: -100px;
    border-radius: 500px;
    background-color: rgb(255, 255, 255);
    width: 250px;}
/** Experiencia */
#primertrabajo {
    margin-top: 10px;
    border-bottom: solid; 
    border-color: #e8e8e8;
    border-width: 0.5px;
    padding-bottom: 20px;}
#segundotrabajo {
    margin-top: 40px;
    border-width: 0.5px;}
.ocultar {
    display: none;}
/* Ventanas modales */
.aqui{
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size:30px;
    display: inline-block;
    justify-content: center;
    padding: 5px 0 0 0  ;    width: 42px; height: 38px;
    border-radius: 300px;
    color:rgb(255, 255, 255);
    background-color:#0f0742;}
.aqui:hover{
    background-color: #8335FD ; color: white; }
.flex{
	height:100%;
	display: flex;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);}
.textos{
	text-align: right;}
#ventana-modal {
    position: fixed; width: 100%;}
.modal{
	display: none;
	position: fixed;
	z-index:2000;
	overflow: auto;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.452);}
.contenido-modal{
	position: relative;
	background-color: #fefefe;
    padding: 25px 25px 30px 25px;
	margin: auto;
	width: 35%;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .4);
	animation-name: modal;
	animation-duration: .7s;
    border-radius: 15px;}
@keyframes modal{
    from{top:-330px; opacity:0;}
    to{top:0; opacity:1;}}
.modal-header {
	padding: 1px 16px;
	color: black;
    margin-bottom: 20px;}
    #titulo-referencia {
        margin-bottom: 25px;
        font-weight: 700;}
.modal-body{
	padding: 10px 20px 20px 20px;
    text-align: center;}
.close{
    position: absolute;
    right: 15px;
    top: 10px;
	color: #d6d3d3;
    margin-bottom: 10px;
	font-size:30px;}
        .close:hover{
            color: rgb(239, 32, 32);
            text-decoration: none;
            cursor: pointer;}
    /** Educacion e Idiomas */
#primerestudio, #segundoestudio, #tercerestudio {
    padding: 40px 0 20px 0;
    border-bottom: solid; 
    border-color: #e8e8e8;
    border-width: 0.5px;    
    }   
#tercerestudio {
    border-width: 0;}
#langsection {    
    margin: 100px 0 30px 0;}
#Lic {
    width:100%;
    margin-top: 10px;  
    align-items: center;
    border-radius: 10px;}
/** Contacto */
#option-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;}
#QR {
    width:230px;
    align-items: center;}
#bye-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;}
/* Loader */
.loader {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;}
    .loadermov {width: 60px;}
.loader.hidden {
    animation-name: fadeOut; 
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: -5000;}  
@keyframes fadeOut {
    100% {
    opacity:0;
    visibility: hidden;}}
    /*Responsive*/
@media screen and (max-width: 1300px) {
        li {margin-right: 15px;}
        #imagen-sobremi,#abutton-down {margin-top: 0px; display: none;}
        #mainblock {flex-direction: column-reverse;}
        #indexblock-2 {margin-left: 10%; margin-top: 100px}
        #imagenindex {width: 60%;left:0;margin-top: 300px;padding-bottom: 100px;}
        #sobremi-titulo {margin-left: 0;margin-bottom: 40px;}}
@media screen and (max-width: 840px) {
        ul{display: none;}
        a {width: 45px;}
        .contenido-modal{width: 70%}
        #conteiner { flex-direction: column;}
        #option-section,nav{ display:block;}
        #globodecontacto {width: 90%;height: 200px;}
        #redes{ height: 130px;}
        #section-margin, #section-margin-exp, #section-margin-me,#section-margin-edu {margin: 25% 10% 250px 10%;}}
@media screen and (max-width:580px){
        h2 {font-size: 35px;}
        h1 {font-size: 50px;}
        li {margin-right: 10px;}
        #draws, #draws-2{display: none;}
        #abutton-net {margin-top: 0;}
        #draws {width: 390px;margin-top: -40px;margin-left: -200px;}
        #globodetexto-2 {margin-left: 0; width: 220px;}
        #indexblock-2 {margin-top: 20%;}
        #imagenindex {width: 90%;left:0;margin-top: 300px;padding-bottom: 100px;}}